.wrapper {
  width: 900px;
  height: 470px;
  background-image: url(../img/start.png);
  background-repeat: no-repeat;
  border: 5px groove #D87D06;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
}

.logo {
  background-color: rgba(63, 36, 6, 0.8);
  border: 1px solid #D87D06;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FBF3A2;
  font-size: 25px;
  margin-top: 10px;
  padding: 18px;
}
<<<<<<< HEAD

=======
.wrapper a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
>>>>>>> 88a02b66b09efac49c51fe974d7218333394a415
.button {
  background-color: #3F2406;
  border: 1px solid #D87D06;
  color: #FBF3A2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin-top: 30px;
}

.inputLogin {
  background-color: #FAFBA7;
  border: 1px solid #D87D06;
  color: #3F2406;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 130px;
<<<<<<< HEAD
}
=======
}

.login {
  width: 300px;
  height: 250px;
  padding: 15px;
  background-color: #3F2406;
  border: 3px solid #D87D06;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FBF3A2;
  font-size: 25px;
  visibility: hidden;
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
}
>>>>>>> 88a02b66b09efac49c51fe974d7218333394a415
