/*body {
  box-sizing: border-box;
  background-color: teal !important;
}*/
/*
#container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
} */

#board {
 height: auto;
 margin: 0 auto;
 box-sizing: border-box;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ruta {
  height: 80px;
  background-color: yellow;
  font-family: fantasy;
  text-align: center;
}

div>.ruta:nth-child(3n+2) {
  background-color: red;
}

div>.ruta:nth-child(3n) {
  background-color: orange;
}
.five , .twelve , .forty {
  background-image: url("../img/ladder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
.twentyfour , .thirtythree , .fortythree {
  background-image: url("../img/snake.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
.fortynine {
  background-image: url("../img/life.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
