body {
  box-sizing: border-box;
  background-color: teal !important;
}
#board {
 height: auto;
 margin: 0 auto;
 box-sizing: border-box;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 position: relative;
}
.ruta {
  height: 80px;
  background-color: yellow;
  font-family: fantasy;
  text-align: center;
}

div > .ruta:nth-child(3n+2) {
  background-color: red;
}
div > .ruta:nth-child(3n) {
  background-color: orange;
}
#container > img {
  position: absolute;
}
#container img:first-of-type {
  left: 33%;
  top: 5%;
  transform: rotate(-15deg);
}
#container img:nth-of-type(2) {
  left: 34%;
  top: 15%;
  transform: rotate(-130deg);
}
#container > a img:only-child {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: rotate(0deg);
}
.five , .twelve , .forty {
  background-image: url("../img/ladder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
.twentyfour , .thirtythree , .fortythree {
  background-image: url("../img/snake.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
.fortynine {
  background-image: url("../img/life.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 50%;
}
