.contaniar {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.contaniar>* {
  padding: 10px;
  flex: 1 100%;
}

.header1 {
  /*  background: tomato;*/
}

.header2 {
  /*  background: #0000ff;*/
}

.footer {
  /*  background: lightgreen;*/
}

.wrapper {
  text-align: center;
  /*  background: deepskyblue;*/
}

.aside-1 {
  /*  background: gold;*/
}

.aside-2 {
  /*  background: hotpink;*/
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .wrapper {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .wrapper {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
<<<<<<< HEAD
  font-family: "Karma", sans-serif;
  color: #FBF3A2;
=======
  font-family: "Karma", sans-serif !important;
  color: #FBF3A2 !important;
>>>>>>> 88a02b66b09efac49c51fe974d7218333394a415
}

a {
  color: #FBF3A2 !important;
  text-decoration: none;
}

a:hover {
  color: #F2FB24 !important;
}

body {
  padding: 2em;
  font-family: "Karma", sans-serif;
  background-image: linear-gradient(to bottom, #512f03, #724a08, #92680c, #b18910, #ceac15, #ceac15, #ceac15, #ceac15, #b18910, #92680c, #724a08, #512f03);
}

ul {
  list-style-type: none;
  margin-left: -50px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(81, 47, 3);
  background-color: rgba(81, 47, 3, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #D87D06;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #D87D06;
  width: auto;
}

.overlay a:hover, .overlay a:focus {
  color: #FBF3A2;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  border: 0px;
}

.overlay .link {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 30px;
  width: 200px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.flex-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 900px;
  margin-left: 20%;
  justify-content: space-between;
}

.flex-menu>div {
  margin: 0px;
  width: 50%;
  line-height: 75px;
}

.herowin {
  width: 300px;
  height: 250px;
  padding: 15px;
  background-color: #3F2406;
  border: 5px groove #F0DE21;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FBF3A2;
  font-size: 25px;
  visibility: hidden;
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
}

.dragonwin {
  width: 300px;
  height: 250px;
  padding: 15px;
  background-color: #3F2406;
  border: 5px groove #F0DE21;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FBF3A2;
  font-size: 25px;
  visibility: hidden;
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
}

.login {
  width: 300px;
  height: 250px;
  padding: 15px;
  background-color: #3F2406;
  border: 3px solid #D87D06;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FBF3A2;
  font-size: 25px;
  visibility: hidden;
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
}

.button {
  background-color: #3F2406;
  border: 1px solid #D87D06;
  color: #FBF3A2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

.con1 {
  color: #F2FB24;
  font-size: 30px;
}

.con2 {
  color: #FBF3A2;
  font-size: 30px;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.hide {
  visibility: hide !important;
  opacity: 100 !important;
}
